/* sldier */


.slider {
    width: 100%;
    max-width: 1200px;
    overflow: hidden;
    margin: auto;
    position: relative;
}

.slider-container {
    display: flex;
    transition: transform 1s ease-in-out;
    will-change: transform;
}

.slider-image {
    flex-shrink: 0;
    width: calc(100% / 4 - 8px); /* Default: 4 images per row with some spacing */
    margin: 0 5px;
    height: auto;
    transition: transform 0.3s ease-in-out;
}

/* Medium screens (2 images) */
@media (max-width: 900px) {
    .slider-image {
        width: calc(100% / 2 - 8px);
    }
}

/* Small screens (1 image) */
@media (max-width: 600px) {
    .slider-image {
        width: 100%;
        margin: 0;
    }
}


/* offerCard */

.offerBox
{
    height: 450px;
    width: 350px;
    position: relative;
    margin-top: 10px;
}
.offerBox1
{
    background-image: url('../../public/women-fashion-free-img.jpg');
    background-repeat: no-repeat;
    background-size: auto;
    background-position: left; 
}
.offerBox2
{
    background-image: url('../../public/men-fashion-free-img.jpg');
    background-repeat: no-repeat;
    background-size: auto;
    background-position: left; 
}
.offerBox3
{
    background-image: url('../../public/footwear-free-img.jpg');
    background-repeat: no-repeat;
    background-size: auto;
    background-position: left; 
}
.offerboxinner
{
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.35);
}
.offerboxinner h4 
{
    margin-top: 80%;
    
}
.offerboxinner h4,p,button
{
    margin-left: 20px;

}
.offerboxinner button
{
    padding: 5px 10px;
}
.offerboxinner button:hover
{
    background-color: black;
    color: white;
    border: none;
    outline: none;
    transition: all ease-in-out 0.5s;
}
